<%- include('../partials/head'); %>

<body>

<main class="main">
  <p class="saying">但行好事，莫问前程。</p>
  <div class="entrance">
    <a href="/meipian">美篇转文档</a>
  </div>
</main>

<%- include('../partials/footer'); %>

</body>
