<%- include('../partials/head'); %>
<body class="bg-fixed">
<main class="">
<p class="text-center text-black font-serif subpixel-antialiased">但行好事，莫问前程。</p>
<a href="/meipian" class="block text-center hover:text-black font-normal font-serif text-lg">美篇转文档</a>
</main>
<%- include('../partials/footer'); %>
</body>
