<%- include('../partials/head'); %>

<body>

<main id="mp" class="mp">
  <div class="mp-main">
    <input class="mp-input" id="mp-url" type="url" placeholder="请粘贴美篇链接">
    <div class="mp-submit" id="mp-submit">
      提交
    </div>
  </div>
</main>
<div class="docx">
  <table id="docx-table" class="docx-table">
    <tr height="40">
      <th>文件名</th>
      <th width="100">下载</th>
    </tr>
  </table>
</div>


<%- include('../partials/footer'); %>

</body>
