<%- include('../partials/head'); %>
<body class="bg-fixed">
<main id="meipian">
<form method="post" action="/meipian/deal">
  请输入美篇链接：<input type="text" name="url"/>
  <button type="submit" id="submit">提交</button>
</form>
</main>
<%- include('../partials/footer'); %>
</body>
