<footer class="w-full">
  <p class="text-center text-zinc-700 text-sm font-serif font-medium">Copyright 2023 by <a href="https://github.com/CoderKeung" class="hover:text-black underline" target="_blank"> CoderKeung </a></p>
</footer>

<script src="/script.js"></script>
</html>
