<footer>
  <p>Copyright 2023 by <a href="https://github.com/CoderKeung" target="_blank"> CoderKeung </a></p>
</footer>
<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script src="/script.js"></script>
</html>
